# Amazon, IMDB, Yelp Review Classification

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_yelp = pd.read_csv('yelp_labelled.txt', sep='\t', header=None)

In [3]:
data_yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [4]:
# Assign column names
column_name = ['Review', 'Sentiment']
data_yelp.columns =column_name

In [5]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [6]:
data_yelp.shape

(1000, 2)

In [7]:
data_amazon = pd.read_csv('amazon_cells_labelled.txt', sep='\t', header=None)

In [8]:
data_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [9]:
# Assign column names
column_name = ['Review', 'Sentiment']
data_amazon.columns =column_name

In [10]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [11]:
data_imdb = pd.read_csv('imdb_labelled.txt', sep='\t', header=None)

In [12]:
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [13]:
# Assign column names
column_name = ['Review', 'Sentiment']
data_imdb.columns =column_name

In [14]:
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [15]:
data_imdb.shape

(748, 2)

In [16]:
data = data_yelp.append([data_amazon,data_imdb], ignore_index=True)

In [17]:
data.shape

(2748, 2)

In [18]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [19]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [20]:
data.isnull().sum() # check for the null value in the dataset

Review       0
Sentiment    0
dtype: int64

In [21]:
x = data['Review']
y= data['Sentiment']

In [22]:
#Data cleaning


import string

punct = string.punctuation

In [23]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
from spacy.lang.en.stop_words import STOP_WORDS

In [25]:
stopwords = list(STOP_WORDS) # list of stopwords

In [26]:
stopwords

['has',
 'because',
 'regarding',
 'there',
 'hence',
 'into',
 'a',
 'where',
 'been',
 '‘ll',
 'latter',
 'using',
 'alone',
 'myself',
 'three',
 'n‘t',
 'put',
 'again',
 'almost',
 'am',
 'each',
 'either',
 'still',
 'do',
 'done',
 'can',
 'formerly',
 'up',
 'whenever',
 'you',
 "n't",
 "'re",
 'both',
 'every',
 'must',
 'never',
 'first',
 'become',
 'being',
 'see',
 'may',
 'them',
 'seeming',
 '’ll',
 'since',
 'empty',
 'eight',
 'amongst',
 'than',
 '‘ve',
 'nine',
 "'d",
 'what',
 'meanwhile',
 'they',
 'everyone',
 'around',
 'ourselves',
 'less',
 'therein',
 '‘re',
 '‘s',
 'without',
 'whose',
 'it',
 'neither',
 'then',
 'as',
 'get',
 'indeed',
 '’ve',
 'due',
 'thus',
 'our',
 'now',
 'somewhere',
 'once',
 'well',
 'many',
 'except',
 'does',
 'fifty',
 'with',
 'noone',
 'whole',
 'yet',
 'eleven',
 'its',
 'call',
 'is',
 'name',
 'i',
 'six',
 'her',
 'thru',
 'below',
 'against',
 'onto',
 'just',
 'made',
 'anyhow',
 'will',
 '’m',
 'ten',
 'anywhere',
 'say',
 'further',
 'becoming',
 'last',
 'besides',
 'my',
 'top',
 'really',
 'not',
 'namely',
 'full',
 'for',
 'everywhere',
 'sixty',
 'bottom',
 'seems',
 'whither',
 'four',
 "'ll",
 'though',
 'were',
 'already',
 'so',
 'upon',
 'might',
 'such',
 'anything',
 'hers',
 'too',
 'we',
 'nowhere',
 'whence',
 'became',
 'while',
 'whom',
 'was',
 'here',
 'his',
 'across',
 'the',
 'at',
 'sometimes',
 'several',
 'give',
 'n’t',
 'whereby',
 'among',
 'nevertheless',
 'much',
 'more',
 'next',
 '’s',
 'throughout',
 'show',
 'until',
 'have',
 'five',
 'else',
 'to',
 'which',
 'third',
 'these',
 'be',
 'off',
 'about',
 'unless',
 'from',
 'doing',
 'under',
 'along',
 'out',
 'would',
 'twelve',
 'before',
 'amount',
 'few',
 'other',
 'perhaps',
 'back',
 'or',
 "'ve",
 'herein',
 'in',
 'very',
 'sometime',
 'me',
 'least',
 'whether',
 'via',
 'ca',
 'beforehand',
 'otherwise',
 'whereas',
 'please',
 'herself',
 'of',
 'everything',
 'mine',
 'fifteen',
 'how',
 'towards',
 'however',
 '’d',
 'yourselves',
 'she',
 'latterly',
 'move',
 'twenty',
 'serious',
 'always',
 'elsewhere',
 'thence',
 'only',
 'front',
 'take',
 'used',
 'should',
 'him',
 'down',
 'when',
 'ever',
 'seemed',
 'within',
 'together',
 'who',
 'are',
 'per',
 'wherein',
 'keep',
 'all',
 'beside',
 'themselves',
 'yours',
 'whereafter',
 'some',
 'moreover',
 're',
 'forty',
 'by',
 'an',
 'somehow',
 'none',
 'above',
 'cannot',
 'that',
 'this',
 'nobody',
 'no',
 'most',
 'wherever',
 'why',
 'ours',
 'anyway',
 'therefore',
 'side',
 'your',
 'something',
 'mostly',
 'did',
 'go',
 'often',
 'others',
 '‘m',
 'two',
 'he',
 'yourself',
 'their',
 'and',
 'whatever',
 'hereafter',
 'behind',
 'afterwards',
 'anyone',
 'former',
 'had',
 'if',
 'thereupon',
 'enough',
 'beyond',
 'toward',
 'thereby',
 'itself',
 'although',
 'even',
 'someone',
 'during',
 'various',
 'through',
 'whoever',
 'any',
 'same',
 '’re',
 "'s",
 'hereby',
 'after',
 'between',
 'nor',
 'becomes',
 'could',
 'make',
 'also',
 'nothing',
 'hundred',
 'one',
 'us',
 'another',
 'hereupon',
 'part',
 'himself',
 'those',
 'whereupon',
 'but',
 'quite',
 'seem',
 'over',
 '‘d',
 "'m",
 'own',
 'rather',
 'on',
 'thereafter']

In [34]:
# creating a function for data cleaning
import spacy
nlp = spacy.load('en_core_web_sm')

def text_data_cleaning(sentence):
    doc = nlp(sentence)
    
    
    tokens = [] #list of tokens
    for token in doc:
        if token.lemma_ != "-PRON-":
            temp = token.lemma_.lower().strip()
        else:
            temp = token.lower_
        tokens.append(temp)
        
        
    cleaned_tokens = []
    for token in tokens:
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)
            
    return cleaned_tokens

In [35]:
text_data_cleaning("hello all, It's beautiful day outside there!")

['hello', 'beautiful', 'day', 'outside']

In [36]:
#Vectorization feature Engineering(TF-IDf)

from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [37]:
tfidf = TfidfVectorizer(tokenizer=text_data_cleaning)

In [38]:
classifier =LinearSVC()

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [41]:
X_train.shape, X_test.shape

((2198,), (550,))

In [42]:
clf = Pipeline([('tfidf',tfidf),('clf',classifier)])

In [43]:
clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x0000026133B54DC0>)),
                ('clf', LinearSVC())])

In [44]:
#predict the result 

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [45]:
y_predict = clf.predict(X_test)

In [46]:
accuracy_score(y_test,y_predict)

0.7745454545454545

In [48]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.81      0.73      0.77       279
           1       0.75      0.82      0.78       271

    accuracy                           0.77       550
   macro avg       0.78      0.78      0.77       550
weighted avg       0.78      0.77      0.77       550

In [49]:
confusion_matrix(y_test,y_predict)

array([[204,  75],
       [ 49, 222]], dtype=int64)

In [53]:
print(clf.predict(["It was bad movie"]))

[0]